# /etc/systemd/system/openCovidCrawl.service

[Unit]
Description=Crawls the newsportal for information

[Service]
Type=oneshot
ExecStart=/home/ubuntu/OpenCovidMY/systemdScript/openCovidCrawl.sh

[Install]
WantedBy=multi-user.target

